.button
  background #1F292E
  border 0 none
  color #fff
  cursor pointer
  font-size 13px
  font-weight bold
  line-height 1em 
  margin 4px
  outline none
  padding 14px 24px
  text-align center

  svg
    fill currentColor
    display inline-block
    vertical-align middle
    margin -7px 8px -5px -12px

.icon-button
  padding 4px

  svg
    margin 0

.outlined-button
  background none
  border 1px solid currentColor
