.action-bar-select
  align-items flex-start 
  box-sizing border-box
  cursor pointer
  display flex
  flex-direction column
  font-size 10px
  font-weight bold
  justify-content center
  min-height 88px
  min-width 88px
  padding 8px 24px 12px
  text-align center
  border-right 1px solid #263238
  user-select none

  &[disabled]
    opacity 0.3
    cursor default 

  select 
    background none
    border none
    color #fff
    font-size 18px
    font-weight 300
    line-height 48px
    margin-left -4px
    outline none
    padding 0
    text-align center
