.action-bar-input
  align-items center
  box-sizing border-box
  cursor pointer
  display flex
  flex-direction column
  font-size 10px
  font-weight bold
  justify-content center
  min-height 88px
  min-width 88px
  padding 8px 8px 12px
  text-align center
  border-right 1px solid #263238

  &[disabled]
    opacity 0.3
    cursor default 

  input 
    font-size 32px
    line-height 48px
    font-family "DJB Friday Night Lights", monospace
    background none
    border none
    max-width 88px
    color #fff
    text-align center
