.progressbar-container
  display: block

  .result
    font-size 36px
    font-weight 300

  .label
    font-size 13px
    font-weight bold 

  .change
    font-size 18px
    font-weight 300 

.line-stat
  margin-bottom 18px
  
  h3
    font-size 13px
    font-weight bold
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    flex 1 0 auto
    margin 0

  span
    flex 1 0 auto
    text-align right
    font-size 24px
    font-weight 300

  small
    font-size 12px

.info
  display flex
  flex-direction row
  margin-bottom 8px
  align-items flex-end
