.progress-bar
  display flex
  position relative
  flex-direction row
  align-items stretch
  height 12px

.progress-bar-progress
  background-image linear-gradient(to right, #4DD0E1, #00B0FF)
  height 100%
  left 0
  position absolute
  top 0
  z-index 1


.progress-bar-stage
  background #455A64
  height 100%
  margin-left 1px
  flex 1 0 auto
