.header 
  align-items center
  background #1F292E 
  box-shadow 0 0 5px rgba(0, 0, 0, 0.5)
  box-sizing border-box
  display flex
  flex-direction row
  height: 90px
  justify-content space-between
  left 0
  padding 12px 30px
  position fixed
  top 0
  width 100%
  z-index 50


.header h1 
  color #0393D4
  float left
  font-size 40px
  font-weight 300
  line-height 56px
  margin 0
  padding 0
  text-transform lowercase
