.navBar
  background #263740
  padding 20px 0
  flex 1 0 auto 

  a
    color #fff
    display block
    font-size 18px
    line-height 1.15
    margin-left 20px
    opacity 0.5
    padding 10px 20px
    text-align right
    text-decoration none
    text-transform lowercase

  .active
    background #161B1D
    opacity 1

.navBar .sublink
  font-size 15px
  font-weight 300
