@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700')



@font-face
  font-family "DJB Friday Night Lights"
  src url(../assets/fonts/djb_friday_night_lights-webfont.woff), url(../assets/fonts/djb_friday_night_lights-webfont.woff2)



html, body
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  background #263238
  color #fff
  font-family 'Roboto', arial, sans-serif
  font-weight 400
  padding 0
  width 100%
  font-size 15px


body
  margin 90px 0 0
  height calc(100% - 90px)


html
  height 100%
  margin 0


*
  box-sizing border-box


h1
  font-size 40px
  font-weight 300


strong
  font-weight bold


#app
  height 100%

.loader
  font-weight 300
  font-size 32px
  justify-content center
  opacity 0.3
  display flex
  height 100%
  align-items center
