.shot-tracker
  display block

.button
  background #1F292E
  border 0 none
  color #fff
  cursor pointer
  flex 1 0 auto
  font-size 13px
  font-weight bold
  height 120px
  line-height 1em 
  outline none
  text-align center

  &[disabled]
    opacity 0.3

  svg
    fill currentColor
    display block
    margin 0 auto
    width 48px
    height 48px

.wrap
  display flex
  flex-direction row
