.toggle-item
  border 0 none
  border-bottom 1px solid #263740
  color #fff
  cursor pointer
  display block
  font-size 13px
  line-height 1em 
  outline none
  padding 14px 24px
  width auto
  opacity 0.5

.toggled
  background #1F292E
  font-weight bold
  opacity 1
