.action-bar-space
  align-items center
  box-sizing border-box
  display flex
  flex-direction column
  justify-content center
  border-right 1px solid #263238
  flex-direction row

  > *
    border-right none

  &[disabled]
    opacity 0.3
    cursor default 
